<div class="background">
  <app-toolbar></app-toolbar>
  <div class="flex justify-between">
    <div class="inline-block box-border p-4 w-1/2 flex flex-col items-center justify-start">
      <div class="inline-block w-1/2 m-8 flex justify-center items-center">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedFirstLanguage" name="language" class="inline-block" (selectionChange)="onUserInput()">
            @for (language of languages; track language) {
            <mat-option [value]="language.value">
              {{language.value}}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <textarea class="p-2 box-content text-zinc-800 italic font-serif font-semibold w-full text-center" [(ngModel)]="firstLanguageText" cdkTextareaAutosize (ngModelChange)="onUserInput()"
        cdkAutosizeMinRows="1">
      </textarea>
    </div>
    <div class="inline-block box-border p-4 w-1/2 flex flex-col items-center justify-start">
      <div class="inline-block w-1/2 m-8 flex justify-center items-center">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedSecondLanguage" name="language" class="inline-block" (selectionChange)="onUserInput()">
            @for (language of languages; track language) {
            <mat-option [value]="language.value">
              {{language.value}}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <textarea disabled class="p-2 box-content text-zinc-800 italic font-serif font-semibold w-full text-center" [(ngModel)]="secondLanguageText" cdkTextareaAutosize (ngModelChange)="onUserInput()"
        cdkAutosizeMinRows="1">
      </textarea>
    </div>
  </div>
</div>